@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,700;1,600&display=swap");
:root {
  --background: radial-gradient(circle at top, #1f3756, #141539);

  --scissors: linear-gradient(#ec9e0e, #eca922);
  --paper: linear-gradient(#4865f4, #5671f5);
  --rock: linear-gradient(#dc2e4e, #dd405d);
  --lizard: linear-gradient(#834fe3, #8c5de5);
  --spock: linear-gradient(#40b9ce, #52bed1);

  --main-text: #ffffff;
  --score-text: #2a46c0;
  --number-text: #3b4363;
  --outline: #606e85;

  --inner: #00000030;
  --outer: #00000060;

  --shadow-1: 0 0 0 2rem #ffffff08, 0 0 0 4rem #ffffff06, 0 0 0 6rem #ffffff04;
  --shadow-2: 0 0 0 4rem #ffffff08, 0 0 0 8rem #ffffff06, 0 0 0 12rem #ffffff04;

  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --radius-3: 50%;
}
@keyframes goUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.goUp {
  animation-name: goUp;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
.fromLeft {
  animation-name: fromLeft;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
.fromRight {
  animation-name: fromRight;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 1.5s;
}
.shadow-1 {
  box-shadow: var(--shadow-1);
}
.shadow-2 {
  box-shadow: var(--shadow-2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  padding: 1rem;
  background: var(--background);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.main-header {
  width: 100%;
  max-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--outline);
  border-radius: var(--radius-2);
  padding: 0.5rem;
  padding-left: 1.5rem;
  margin-inline: auto;
  z-index: 1;
}
.main-header > h1 > span {
  color: var(--main-text);
  display: block;
  font-weight: 700;
  font-size: clamp(1.125rem, 2.5vw, 2rem);
  line-height: clamp(0.875rem, 2.5vw, 1.5rem);
}
.toggle {
  background-color: transparent;
  outline: transparent;
  border: 0.125rem solid var(--outline);
  border-radius: 3rem;
  padding: 0.25rem;
  padding-inline: 0.25rem 1rem;
  transition: padding 250ms ease;
}
.toggle > span {
  display: block;
  background-color: var(--main-text);
  height: 1rem;
  width: 1rem;
  border-radius: 2rem;
}
.toggle:is(:hover, :focus) {
  cursor: pointer;
}
.toggle.active {
  padding-inline: 1rem 0.25rem;
}
.main-header:has(.toggle.active) {
  padding-left: 0.5rem;
}
.main-header:has(.toggle.active) .score-field {
  align-self: normal;
}
.score-field {
  background-color: var(--main-text);
  display: grid;
  gap: 0.25rem;
  border-radius: var(--radius-1);
  padding: 0.75rem clamp(1.5rem, 3vw, 5rem);
}
.score-field p {
  font-weight: 600;
  text-align: center;
}
.score-field p:first-of-type {
  color: var(--score-text);
  font-size: clamp(0.625rem, 2.5vw, 1rem);
  letter-spacing: 0.125rem;
}
.score-field p:last-of-type {
  color: var(--number-text);
  font-size: clamp(2.5rem, 5vw, 5rem);
  line-height: clamp(2rem, 5vw, 4rem);
  letter-spacing: 0.0625rem;
}
.content-grid {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  padding: 1rem;
  overflow-x: hidden;
}
.game-buttons {
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: grid;
  row-gap: 1rem;
  column-gap: 2rem;
  place-items: center;
}
.game-buttons-bonus {
  justify-self: center;
  background-image: url(./images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  place-items: center;
}
.btn {
  background-color: var(--inner);
  position: relative;
  outline: transparent;
  border: none;
  border-bottom: 0.3125rem solid transparent;
  width: clamp(8rem, 22vw, 15rem);
  height: clamp(8rem, 22vw, 15rem);
  border-radius: var(--radius-3);
  transition: scale 250ms ease-in;
}
.game-buttons-bonus .btn {
  width: clamp(6rem, 22vw, 15rem);
  height: clamp(6rem, 22vw, 15rem);
}
.btn-1 {
  background: var(--scissors);
  border-color: var(--outer);
  grid-column: 2/3;
  grid-row: 1/2;
}
.btn-2 {
  background: var(--paper);
  border-color: var(--outer);
  grid-column: 1/2;
  grid-row: 1/2;
}
.btn-3 {
  background: var(--rock);
  border-color: var(--outer);
  grid-column: 1/3;
  grid-row: 2/3;
}
.btn-4 {
  background: var(--lizard);
  border-color: var(--outer);
}
.btn-5 {
  background: var(--spock);
  border-color: var(--outer);
}

.game-buttons-bonus .btn-1 {
  grid-column: 1/10;
}
.game-buttons-bonus .btn-2 {
  margin-bottom: 1.5rem;
  grid-column: 7/10;
  grid-row: 2/3;
}
.game-buttons-bonus .btn-3 {
  grid-column: 6/9;
  grid-row: 3/4;
}
.game-buttons-bonus .btn-4 {
  grid-column: 2/5;
  grid-row: 3/4;
}
.game-buttons-bonus .btn-5 {
  margin-bottom: 1.5rem;
  grid-column: 1/4;
  grid-row: 2/3;
}
.btn-1::after,
.btn-2::after,
.btn-3::after,
.btn-4::after,
.btn-5::after {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: clamp(6rem, 17vw, 12rem);
  height: clamp(6rem, 17vw, 12rem);
  border-top: 0.3125rem solid var(--inner);
  border-radius: var(--radius-3);
}
.game-buttons-bonus .btn-1::after,
.game-buttons-bonus .btn-2::after,
.game-buttons-bonus .btn-3::after,
.game-buttons-bonus .btn-4::after,
.game-buttons-bonus .btn-5::after {
  width: clamp(4.5rem, 17vw, 12rem);
  height: clamp(4.5rem, 17vw, 12rem);
}
.btn-1::after {
  background: var(--main-text) url(./images/icon-scissors.svg);
}
.btn-2::after {
  background: var(--main-text) url(./images/icon-paper.svg);
}
.btn-3::after {
  background: var(--main-text) url(./images/icon-rock.svg);
}
.btn-4::after {
  background: var(--main-text) url(./images/icon-lizard.svg);
}
.btn-5::after {
  background: var(--main-text) url(./images/icon-spock.svg);
}
.btn-1::after,
.btn-2::after,
.btn-3::after,
.btn-4::after,
.btn-5::after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
}
.game-buttons .btn:is(:hover, :focus),
.game-buttons-bonus .btn:is(:hover, :focus) {
  cursor: pointer;
  scale: 1.1;
}

.btn-rules {
  color: var(--main-text);
  background-color: transparent;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 0.75rem;
  letter-spacing: 0.125rem;
  outline: transparent;
  border: 0.0625rem solid var(--main-text);
  border-radius: var(--radius-2);
  padding: 1rem 2rem;
  margin-block: 1rem 2rem;
}
.btn-rules:is(:hover, :focus) {
  cursor: pointer;
}
.btn-again {
  position: relative;
  color: var(--number-text);
  background-color: var(--main-text);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 0.75rem;
  letter-spacing: 0.125rem;
  outline: transparent;
  border: 0.0625rem solid var(--main-text);
  border-radius: var(--radius-2);
  padding: 1.5rem 5rem;
}
.btn-again::after {
  content: "PLAY AGAIN";
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: var(--background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 250ms ease-in;
}
.btn-again:is(:hover, :focus)::after {
  cursor: pointer;
  background-image: var(--rock);
}

.modal {
  background-color: var(--outer);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 1rem;
  z-index: 2;
}
.rules {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--main-text) url(./images/image-rules.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.rules.active {
  background: var(--main-text) url(./images/image-rules-bonus.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.rules h2 {
  color: var(--number-text);
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem;
}
.close {
  background-color: transparent;
  background-image: url(./images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  transition: transform 250ms ease-in;
}
.close:is(:hover, :focus) {
  cursor: pointer;
  transform: rotate(90deg);
}

.results {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}
.results p {
  color: var(--main-text);
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}
.player,
.computer {
  position: relative;
  transition: box-shadow 250ms ease-in;
}
.player::before,
.computer::before {
  color: var(--main-text);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.125rem;
  display: block;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
}
.player::before {
  content: "you picked";
}
.computer::before {
  content: "the house picked";
}

.results :last-child {
  overflow: hidden;
  width: 100%;
  display: grid;
  gap: 1rem;
  place-content: center;
}
.hidden {
  display: none;
}
.attribution {
  z-index: 1;
}
.attribution p {
  color: var(--outline);
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
}
.attribution a:is(:link, :visited) {
  color: var(--score-text);
  font-weight: 600;
  text-decoration: none;
}
.attribution a:is(:hover, :active) {
  text-decoration: underline;
}

@media (orientation: landscape) {
  .results {
    flex-wrap: nowrap;
    align-items: center;
  }
  .computer {
    order: 4;
  }
  .results :last-child {
    width: auto;
  }
  .btn-rules {
    position: fixed;
    margin: 0;
    bottom: 1rem;
    right: 1rem;
  }
  .modal {
    display: grid;
    place-items: center;
  }
  .rules {
    background-position-y: 3rem;
    position: static;
    width: 22rem;
    max-height: 22rem;
    border-radius: var(--radius-2);
    align-items: start;
    flex-direction: row;
    padding: 0;
    padding-inline: 1rem;
  }
  .rules h2 {
    padding: 0;
  }
  .player::before,
  .computer::before {
    font-size: 1.25rem;
    top: -2rem;
    bottom: auto;
  }
}
@media screen and (min-width: 600px) {
  .btn-1::after,
  .btn-2::after,
  .btn-3::after,
  .btn-4::after,
  .btn-5::after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
  }
  .game-buttons-bonus .btn-2,
  .game-buttons-bonus .btn-5 {
    margin-bottom: 3rem;
  }
}
